@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    z-index: 9977;

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 50px;
    }
}

.hamburguer {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transform: translate(190%, 0);
}

.hamburguer .bar, .hamburguer:after, .hamburguer:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburguer.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburguer.is-active:after {
    transform: rotate(45deg) translate(-8px, -8px);
    overflow: hidden;
}
.hamburguer.is-active .bar{ 
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    top: 0;
    right: 150%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 8;
    background-color: rgba(0,0,0, 0.5); 
    padding-top: 120px;
    transition: 0.4s;
    overflow: hidden;
}

.mobile-nav.is-active {
    right: 0; 
}

.mobile-nav.is-clicked{
    left: 0;
}

.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.mobile-nav a:hover{
    background-color: #1a063a;
}


header{
    width: 100%;
    height: 100vh;
    background-color: #2b2f4b;
    color: #fff;

    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 500;
        a{
            font: 'Ubuntu';
            text-decoration: none;
            color: #fff;
        }

        h2 {
            color: inherit;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 900;

            span {
                font-weight: 600;
            }
        }

        &.is-scrolling-down{
            background-color: rgba(1, 1, 71, 0);
            .container{
                padding-top: 16px;
                padding-bottom: 16px;
            }
            transform: translate(0%, -100%);
            transition: 0.5s;
        }

        &.is-scrolling-up{
            background-color: rgba(1, 1, 71, 0);
            .container{
                padding-top: 16px;
                padding-bottom: 16px;
            }
            transform: translate(0%, 20%);
            transition: 0.5s;
        }

    }

    #particles{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .info-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        height: 100vh;

        h1{
            font-size: 5rem;
            font-weight: 500;
            font-family: 'Ubuntu';
            z-index: 1;
        }

        h3{
            font-size: 1.5rem;
            z-index: 1;

        }

        a{
            z-index: 7;
        }

        .scroll{
            position: absolute;
            bottom: 20%;
            left: 50%;
            color: #fff;
            transform: translate(0, -50%);
            transition: all 0.5s;
            &:hover{
                opacity: 0.7;
            }
            &::before{
                position: absolute;
                top: -16px;
                left: -16px;
                z-index: -1;
                content: '';
                width: 44px;
                height: 44px;
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
                border-radius: 100%;
                animation: pulse 3s infinite;
            }
        }

        
    }

    .social-media{
        position: relative;
        transform: translate(150%,300%);
        display: flex;
        gap: 40px;
        z-index: 7;
        width: 100px;
        i{
            color: #fff;
            font-size: 8rem;
            width: 100%;
            text-align: center;
            margin-bottom: 1.4rem;
        }
    }
    

    form{
    display: block;
    margin: 0 auto;
    z-index: 100;
    transform: translate(100%, 100%);
    position: relative;
    max-width: 500px;
    
        .form-grid{
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 16px;
            z-index: 100;
    
            .form-element, .form-area{
                appearance: none;
                border: none;
                outline: none;
                background: none;
    
                color: #12002f;
                display: block;
                width: 100%;
                background-color: grey;
                border-radius: 8px;
                padding: 16px;
    
                font-size: 20px;
    
                }
    
            .form-area{
                grid-column: span 2;
    
            }
            }
        .button {
            padding: 16px;
            align-items: center;
        }
    
        .right-align{
            text-align: right;
            }
    }
}

@keyframes pulse{
    0%, 100%{
        opacity: 0;

    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

body{

    #about, #features, #projects{
        background-color: #2b2f4b;
        padding: 40px;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            h1{
                text-align: center;
                color: #fff;
                text-transform: uppercase;
            }
            a{
                text-decoration: none;
                font-size: 1.3em;
                color: #fff;
                border: 1px solid transparent;
                padding: 10px 50px;
                box-shadow: 0 5px 15px rgba(0,0,0, 0.35);
                border-radius: 6px;
                transition: all 0.3s ease;
                &:hover{
                    border-color: #fff;
                    box-shadow: none;
                }
            }
        }

        .card{
            padding: 30px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.35);
            border-radius: 20px;
            display: flex;
            gap: 30px;
            border: 1px solid transparent;
            transition: all 0.3s ease;

            &:hover{
                border-color: #fff;
                box-shadow: none;
            }

            .info{
                h1{
                    margin-bottom: 20px;
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: bold;
                    font-family: 'Ubuntu';

                }

                p{
                    color: #ccc;
                    font-size: 1.1rem;
                    line-height: 1.8rem;

                }
            }
        }

        
    }


    #about{
        .card{
            img{
                max-width: 200px;
                max-height: 200px;

            }

            .info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

            }
        }
    }

    #features{
        .feature-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                min-width: 350px;

                .info{
                    i{
                        color: #fff;
                        font-size: 8rem;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 1.4rem;

                    }
                    h1{
                        text-align: center;

                    }
                    p{
                        font-size: 1.1rem;

                    }
                }
            }
        }
    }

    #projects{
        .feature-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                min-width: 350px;

                .info{
                    i{
                        color: #fff;
                        font-size: 8rem;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 1.4rem;

                    }
                    h1{
                        text-align: center;

                    }
                    p{
                        font-size: 1.1rem;

                    }
                }
            }

            .card2 {
                overflow: visible;
                width: 500px;
                height: 500px;

                

                .content {
                    width: 100%;
                    height: 100%;
                    transform-style: preserve-3d;
                    transition: transform 300ms;
                    box-shadow: 0px 0px 10px 1px #000000ee;
                    border-radius: 5px;
                }
                

                .front, .back {
                    background-color: #151515;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    border-radius: 5px;
                    overflow: hidden;
                }
                

                .back {
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    #imge{
                        width: 100%;
                        height: 100%;
                        transform: translate(-80%, -1%);
                    }
                    h3  {
                        z-index: 1;
                        display: block;
                        background-color: #00000050;
                        text-align: center;
                        color: #f5e1e1;
                        width: 500px;
                        height: 500px;
                        font-size: 40px;
                        transform: translate(0%,70%);
                    }
                }

                .back::before {
                    position: absolute;
                    content: ' ';
                    display: block;
                    width: 470px;
                    height: 160%;
                    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
                    animation: rotation_481 25000ms infinite linear;
                }
                
                .back-content {
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    background-color: #151515;
                    border-radius: 5px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                }

                &:hover .content {
                    transform: rotateY(180deg);
                }
                
                @keyframes rotation_481 {
                    0% {
                      transform: rotateZ(0deg);
                    }
                  
                    0% {
                      transform: rotateZ(360deg);
                    }
                }
                
                .front {
                    transform: rotateY(180deg);
                    color: white;
                    z-index: 3;
                }
                
                .front .front-content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
                .front-content .badge {
                    background-color: #00000055;
                    padding: 2px 10px;
                    border-radius: 10px;
                    backdrop-filter: blur(2px);
                    width: fit-content;
                }
                
                .description {
                    box-shadow: 0px 0px 10px 5px #00000088;
                    width: 100%;
                    padding: 10px;
                    background-color: #00000099;
                    backdrop-filter: blur(5px);
                    border-radius: 5px;
                }
                
                .title {
                    font-size: 11px;
                    max-width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .comic-button {
                        display: inline-block;
                        padding: 10px 20px;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        text-decoration: none;
                        color: #fff;
                        background-color: #ff5252;
                        border: 2px solid #000;
                        border-radius: 10px;
                        box-shadow: 5px 5px 0px #000;
                        transition: all 0.3s ease;
                    }
                    
                    .comic-button:hover {
                        background-color: #fff;
                        color: #ff5252;
                        border: 2px solid #ff5252;
                        box-shadow: 5px 5px 0px #ff5252;
                    }
                    
                    .comic-button:active {
                        background-color: #fcf414;
                        box-shadow: none;
                        transform: translateY(4px);
                    }
                }
                
                .title p {
                    width: 100%;
                    font-size: 30px;
                }
                
                .card-footer {
                    color: #ffffff88;
                    margin-top: 5px;
                    font-size: 20px;
                }
                
                .front .img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                
                .circle {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background-color: #ffbb66;
                    position: relative;
                    filter: blur(15px);
                    animation: floating 2600ms infinite linear;
                }
                
                #bottom {
                    background-color: #ff8866;
                    left: 50px;
                    top: 0px;
                    width: 150px;
                    height: 150px;
                    animation-delay: -800ms;
                }
                
                #right {
                    background-color: #ff2233;
                    left: 160px;
                    top: -80px;
                    width: 30px;
                    height: 30px;
                    animation-delay: -18000ms;
                }
                
                @keyframes floating {
                    0% {
                      transform: translateY(0px);
                    }
                  
                    50% {
                      transform: translateY(10px);
                    }
                  
                    100% {
                      transform: translateY(0px);
                    }
                }
            }


        }
    }

    .scroll-top{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #2b2f4b;
        color: #fff;
        border: 1px solid transparent;
        box-shadow: 0 5px 15px rgba(0,0,0, 0.35);
        padding: 16px 18px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.3s ease;
        
        &:hover{
            border-color: #fff;
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 1366px) {


    header{
        .container{
            transform: translate(-8%,-10%);
            &.is-scrolling-down{
                background-color: rgba(1, 1, 71, 0);
                .container{
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
                transform: translate(-8%, -100%);
                transition: 0.5s;
            }
    
            &.is-scrolling-up{
                background-color: rgba(1, 1, 71, 0);
                .container{
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
                transform: translate(-8%, 1%);
                transition: 0.5s;
            }
        }
        height: 100vh;
        padding-bottom: 40px;
        .info-text{
            h1{
                font-size: 2.5rem;
            }
            h3{
                font-size: 1.1rem;
            }
        }

        .social-media{
            position: absolute;
            transform: translate(155%,23%);
            display: block;
            gap: 40px;
            z-index: 7;
            width: 100px;
            i{
                color: #fff;
                font-size: 5rem;
                width: 100%;
                text-align: center;
                margin-bottom: 1.4rem;
            }
        }
        
    
        form{
            position: absolute;
            margin: 0 auto;
            max-width: 680px;
            width: 100%;
            transform: translate(0,190%);
            background-color: #2d2663;

            .form-grid{
                display: block;
                grid-gap: 16px;
                margin-bottom: 16px;

                .form-element, .form-area{
                    appearance: none;
                    border: none;
                    outline: none;
                    background: none;

                    color: #000000;
                    display: block;
                    width: 100%;
                    background-color: rgb(233, 210, 210);
                    border-radius: 8px;
                    padding: 16px;

                    font-size: 20px;

                }

                .form-area{
                    grid-column: span 2;

                }
            }
            .button {
                padding: 16px;
                align-items: center;
            }

            .right-align{
                text-align: right;
            }
        }
    }
}
    
    body{
        #about{
            .card{
                flex-direction: column;
                align-items: center;
                background-image: url(../images/);
                img{
                    max-width: 150px;
                    max-height: 150px;
                }
            }
        }

        .card2 {
            overflow: visible;
            width: 150px;
            height: 150px;

            .content {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform 300ms;
                box-shadow: 0px 0px 10px 1px #000000ee;
                border-radius: 5px;
            }
            

            .front, .back {
                background-color: #151515;
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                border-radius: 5px;
                overflow: hidden;
            }
            

            .back {
                width: 100%;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                overflow: hidden;
            }

            .back::before {
                position: absolute;
                content: ' ';
                display: block;
                width: 60px;
                height: 160%;
                background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
                animation: rotation_481 10000ms infinite linear;
            }
            
            .back-content {
                position: absolute;
                width: 99%;
                height: 99%;
                background-color: #151515;
                border-radius: 5px;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }

            &:hover .content {
                transform: rotateY(180deg);
            }
            
            @keyframes rotation_481 {
                0% {
            transform: rotateZ(0deg);
                }
            
                0% {
                transform: rotateZ(360deg);
                }
            }
            
            .front {
                transform: rotateY(180deg);
                color: white;
            }
            
            .front .front-content {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .front-content .badge {
                background-color: #00000055;
                padding: 2px 10px;
                border-radius: 10px;
                backdrop-filter: blur(2px);
                width: fit-content;
            }
            
            .description {
                box-shadow: 0px 0px 10px 5px #00000088;
                width: 100%;
                padding: 10px;
                background-color: #00000099;
                backdrop-filter: blur(5px);
                border-radius: 5px;
            }
            
            .title {
                font-size: 11px;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
            }
            
            .title p {
                width: 50%;
            }
            
            .card-footer {
                color: #ffffff88;
                margin-top: 5px;
                font-size: 8px;
            }
            
            .front .img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            
            .circle {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #ffbb66;
                position: relative;
                filter: blur(15px);
                animation: floating 2600ms infinite linear;
            }
            
            #bottom {
                background-color: #ff8866;
                left: 50px;
                top: 0px;
                width: 150px;
                height: 150px;
                animation-delay: -800ms;
            }
            
            #right {
                background-color: #ff2233;
                left: 160px;
                top: -80px;
                width: 30px;
                height: 30px;
                animation-delay: -18000ms;
            }
            
            @keyframes floating {
                0% {
                transform: translateY(0px);
                }
            
                50% {
                transform: translateY(10px);
                }
            
                100% {
                transform: translateY(0px);
                }
            }
        }
    }
