* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;

    @media (max-width: 1024px){
        padding-left: 64px;
        padding-right: 64px;

    }
}

.hamburguer {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburguer .bar, .hamburguer:after, .hamburguer:before {
    content: '';
    display: block;


    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburguer.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburguer.is-active:after {
    transform: rotate(45deg) translate(-8px, -8px);
}
.hamburguer.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;

    display: block;
    z-index: 98;
    background-color: #12002f;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1a0241;
    color: #fff;
    text-decoration: none;

}

.mobile-nav a:hover{
    background-color: #1a063a;
}

section {
    h2{
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;

        font-size: 36px;
    }
}

@media (min-width: 768px){
    .mobile-nav{
        display: none;
    }

    .hamburguer{
        display: none;
    }
}

.button {
    display: inline-block;
    color: #fff;
    background-color: #ca1515;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    @media (max-width: 768px){
        font-size: 16px;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    //background-color: black;

    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: inherit;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 900;

            span {
                font-weight: 600;
            }
        }
        nav {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(5, auto);

            @media (max-width: 767px){
                display: none;
            }

            a{
                color: inherit;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }

    &.is-scrolling{
        background-color: rgb(1, 1, 71);
        .container{
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

main {
    section.banner {

        min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url(../images/bglineal.gif);
        background-position: top right;
        background-size: cover;
        

        &:after {

            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #12002f;
            opacity: 0.8;
        }

        .container {
            position: relative;
            z-index: 1;

            h1 {
                font-size: 72px;
                margin-bottom: 32px;

                @media (max-width: 767px){
                    font-size: 30px;
                }

                span {
                    color: #ca1515;
                }

            }
            h3 {
                @media (max-width: 767px) {
                    font-size: 28px;
                }
                font-size: 36px;
                font-weight: 400;
                margin-bottom: 32px;
            }
        }
    }
}

img {
    max-width: 100%;
}

.services {
    background-color: #4e4545;
    .container{
        padding-top: 64px;
        padding-bottom: 64px;

        .services-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .service{
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0px 6px 12px rgba($color: #5e0101, $alpha: 0.2);
                .img-box{
                    display: block;
                    width: 100%;
                    border-bottom: 5px solid #ca1515;

                    .img{
                        display: block;
                        width: 100%;
                        height: 128px;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 16px;
                }
            }
        }
    }
}
.projects{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #4e4545;

    .projects-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        margin-bottom: 32px;
        @media (max-width: 1024px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
        }

        .project {
            background-image: url(../images/rock.jpg);
            top: 100%;
            right: 100%;
            max-width: 100%;
            border-radius: 16px;
            overflow: hidden;


            &:nth-child(2)
            {
                background-image: url(../images/studio.jpg);
            }

            .content{
                opacity: 0;
                color: #fff;
                padding: 16px;
                background-color: rgba(64, 39, 68, 0.8);

                h3{
                    font-size: 32px;
                    margin-bottom: 16px;
                    @media (max-width: 1024px){
                        font-size: 28px;
                    }
                }

                p {
                    color: #857803;
                    font-size: 16px;
                    margin-bottom: 16px;
                    @media (max-width: 1024px){
                        font-size: 16px;
                    }
                }
            }

            &:hover{
                .content{
                    opacity: 1;
                    transition: ease-in-out 0.4s;
                }
            }
        }
        
    }
    .center{
        text-align: center;
    }

}

.contact {
    background-color: rgb(34, 3, 3);
    .container{
        padding-top: 64px;
        padding-bottom: 64px;

        form{
            display: block;
            margin: 0 auto;
            max-width: 680px;

            .form-grid{
                display: grid;
                grid-gap: 16px;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 16px;

                .form-element, .form-area{
                    appearance: none;
                    border: none;
                    outline: none;
                    background: none;

                    color: #12002f;
                    display: block;
                    width: 100%;
                    background-color: grey;
                    border-radius: 8px;
                    padding: 16px;

                    font-size: 20px;

                }

                .form-area{
                    grid-column: span 2;

                }
            }
            .button {
                padding: 16px;
                align-items: center;
            }

            .right-align{
                text-align: right;
            }
        }
    }
}